node_modules
.svelte-kit
build
.git
.gitignore
.github

.env
.env.*
!.env.example

# Editor / OS
.vscode
.idea
.DS_Store

# Docker
Dockerfile
.dockerignore
docker-compose*.yml

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# Docs
*.md
