#PROYECT
ENVIRONTMENT=development
PUBLIC_SITE_URL=http://localhost:5173

#LOGTO
LOGTO_ENDPOINT=https://your-logto-instance.example.com
LOGTO_APP_ID=your-app-id
LOGTO_APP_SECRET=your-app-secret
LOGTO_COOKIE_ENCRYPTION_KEY=generate-a-random-64-char-string

#IFRAME
IFRAME_API_URL=http://localhost:3000

#RELAYER
PUBLIC_RELAYER_API_URL=http://localhost:3000

#BACKEND
BACKEND_API_URL=http://localhost:8080

#LOGTO API RESOURCE
LOGTO_API_RESOURCE=https://consensus.carmenio.com/api