node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

### Agent Tools ###
.atl/
.atl/.skill-registry.cache.json
.atl/skill-registry.md
.atl/*

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
